bin/
gen/
MemoryManagement/.classpath
MemoryManagement/build/

MemoryManagement/.idea
*.idea
MemoryManagement/atlassian-ide-plugin.xml
Jenkins/home/tools/
Jenkins/home/war/help/system-config/master-slave/clock_ru.html
Jenkins/home/war/
Jenkins/home/plugins/
Jenkins/home/jre/
Jenkins/home/cache/jdks/WINDOWS/i386/jdk-7u72-oth-JPR
Jenkins/home/secrets/whitelisted-callables.d/default.conf
Jenkins/home/updates/
Jenkins/home/secrets/
Jenkins/home/.owner
Jenkins/home/jobs/Android/builds/lastSuccessfulBuild
Jenkins/home/jobs/Android/builds/lastStableBuild
Jenkins/jenkins.war
Jenkins/jenkins-1.592.zip
Jenkins/jenkins-1.592.msi
Jenkins/home/Workspace clean-up.log
Jenkins/home/config.xml
Jenkins/home/credentials.xml
Jenkins/home/hudson.maven.MavenModuleSet.xml
Jenkins/home/hudson.model.UpdateCenter.xml
Jenkins/home/hudson.plugins.analysis.core.GlobalSettings.xml
Jenkins/home/hudson.plugins.android_emulator.AndroidEmulator.xml
Jenkins/home/hudson.plugins.git.GitSCM.xml
Jenkins/home/hudson.plugins.git.GitTool.xml
Jenkins/home/hudson.plugins.gradle.Gradle.xml
Jenkins/home/hudson.scm.CVSSCM.xml
Jenkins/home/hudson.scm.SubversionSCM.xml
Jenkins/home/hudson.tasks.Ant.xml
Jenkins/home/hudson.tasks.Mailer.xml
Jenkins/home/hudson.tasks.Maven.xml
Jenkins/home/hudson.tasks.Shell.xml
Jenkins/home/hudson.tools.JDKInstaller.xml
Jenkins/home/hudson.triggers.SCMTrigger.xml
Jenkins/home/identity.key.enc
Jenkins/home/jenkins.err.log
Jenkins/home/jenkins.exe
Jenkins/home/jenkins.exe.config
Jenkins/home/jenkins.model.ArtifactManagerConfiguration.xml
Jenkins/home/jenkins.model.DownloadSettings.xml
Jenkins/home/jenkins.model.JenkinsLocationConfiguration.xml
Jenkins/home/jenkins.mvn.GlobalMavenConfig.xml
Jenkins/home/jenkins.out.log
Jenkins/home/jenkins.war
Jenkins/home/jenkins.wrapper.log
Jenkins/home/jenkins.xml
Jenkins/home/jobs/Android/builds/1/android-lint-issues.xml
Jenkins/home/jobs/Android/builds/1/build.xml
Jenkins/home/jobs/Android/builds/1/changelog.xml
Jenkins/home/jobs/Android/builds/1/log
Jenkins/home/jobs/Android/builds/1/polling.log
Jenkins/home/jobs/Android/builds/2/android-lint-issues.xml
Jenkins/home/jobs/Android/builds/2/build.xml
Jenkins/home/jobs/Android/builds/2/changelog.xml
Jenkins/home/jobs/Android/builds/2/log
Jenkins/home/jobs/Android/builds/2/polling.log
Jenkins/home/jobs/Android/builds/3/archive/app/build/outputs/apk/app-debug-unaligned.apk
Jenkins/home/jobs/Android/builds/3/archive/app/build/outputs/apk/app-debug.apk
Jenkins/home/jobs/Android/builds/3/archive/app/build/outputs/apk/app-release-unsigned.apk
Jenkins/home/jobs/Android/builds/3/build.xml
Jenkins/home/jobs/Android/builds/3/changelog.xml
Jenkins/home/jobs/Android/builds/3/log
Jenkins/home/jobs/Android/builds/lastFailedBuild/archive/app/build/outputs/apk/app-debug-unaligned.apk
Jenkins/home/jobs/Android/builds/lastFailedBuild/archive/app/build/outputs/apk/app-debug.apk
Jenkins/home/jobs/Android/builds/lastFailedBuild/archive/app/build/outputs/apk/app-release-unsigned.apk
Jenkins/home/jobs/Android/builds/lastFailedBuild/build.xml
Jenkins/home/jobs/Android/builds/lastFailedBuild/changelog.xml
Jenkins/home/jobs/Android/builds/lastFailedBuild/log
Jenkins/home/jobs/Android/builds/lastUnstableBuild
Jenkins/home/jobs/Android/builds/lastUnsuccessfulBuild/archive/app/build/outputs/apk/app-debug-unaligned.apk
Jenkins/home/jobs/Android/builds/lastUnsuccessfulBuild/archive/app/build/outputs/apk/app-debug.apk
Jenkins/home/jobs/Android/builds/lastUnsuccessfulBuild/archive/app/build/outputs/apk/app-release-unsigned.apk
Jenkins/home/jobs/Android/builds/lastUnsuccessfulBuild/build.xml
Jenkins/home/jobs/Android/builds/lastUnsuccessfulBuild/changelog.xml
Jenkins/home/jobs/Android/builds/lastUnsuccessfulBuild/log
Jenkins/home/jobs/Android/config.xml
Jenkins/home/jobs/Android/lastStable
Jenkins/home/jobs/Android/lastSuccessful
Jenkins/home/jobs/Android/nextBuildNumber
Jenkins/home/jobs/Android/scm-polling.log
Jenkins/home/nodeMonitors.xml
Jenkins/home/org.jenkinsci.plugins.gitclient.JGitTool.xml
Jenkins/home/org.jvnet.hudson.plugins.port_allocator.PortAllocator.xml
Jenkins/home/secret.key
Jenkins/home/secret.key.not-so-secret
Jenkins/home/userContent/readme.txt
Jenkins/setup.exe
